node_modules
**/node_modules
**/dist
**/.cache
**/.turbo
.env
.env.local
.git
.github
.vscode
.idea
*.log
client/dist
server/dist
shared/dist
uploads
compose-changes
README.md
.dockerignore
.gitignore
